<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Nodebucket Homepage</title>
  </head>

  <body>

    <h1>Nodebucket</h1>

    <div class="container">
      <div class="addTask">
        <input type="text" placeholder="Add a Task">
        <button>Add</button>
      </div>

      <ol class="notCompleted">
        <h3> Not Completed</h3>
        <li>Task
          <button><i class="fa fa-check">Add</i></button>
          <button><i class="fa fa-trash">Del</i></button>
        </li>
      </ol>

      <ol class="Completed">
        <h3>Completed</h3>
        <li>Task
          <button><i class="fa fa-trash">Del</i></button>
        </li>
      </ol>
    </div>

    <script src="tasks.js"></script>
  </body>
</html>
