    <body>
      <div class="heading">
        <h1>About Us</h1>
        <p>Nodebucket is here to help you. With many projects created together with many happy users so far,
          we would like nothing more than to help you along your journey. Whether you be from house Gryffindor,
          Ravenclaw, or anywhere else between, we would be our pleasure to assist you.
      </div>

      <div class="container">
        <section class="about">
          <div class="about-image">
            <img src="assets/Wand.jpeg">
          </div>

          <div class="about-content">
            <h2>Driven through passion</h2>
            <p>Founded in 2024 by students from Bellevue University, Nebraska, Nodebucket was created through a concerted
              effort and goal of helping others achieve their dreams and passions. We thought to ourselves. "How can we
              help passionate people chase their dreams". That along with many discussions among individuals who dared to dream
              big led us all to one conclusion. Why not use what we know best? Of course being developers, that meant
              applications and development. If anybody needed a hand gently pushing them along, then we wanted that hand to be
              us. With our task management system, we aimed to create a system that would aid in time management while also
              providing consulting work for those who needed it, and while our journey has led us into helping so many so far
              we know that this is only the beginning, and we can't wait to go further and farther beyond.
            </p>

              <a href="" class="read-more">Read More</a>
          </div>
        </section>
      </div>
    </body>

