<div class="heading">
  <h1>Contact Information</h1>
  <p>Feel free to use any of the information below to get in touch with us.</p>

<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="assets/map.jpg">
    </div>

    <div class="about-content">
      <h2>Contact Us Today</h2>
      <ul>
        <li>Phone: 999-999-9999</li>
        <br />
        <li>Address: 12345 Slytherin Ave</li>
        <br />
        <li>Email: Nohufflepuffsallowed@gmail.com</li>
        <br />
        <li>Office Hours: Mon-Sat (7am-7pm)(Closed Sundays)</li>
      </ul>
    </div>
  </section>
</div>
