<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Nodebucket Homepage</title>
  </head>


  <h1>Nodebucket</h1>

  <main class="flex-container">

    <section class="main-content">
      <h2>Welcome to Nodebucket</h2>
      <h3>A new standard in project management</h3>
      <p>
        Here at Nodebucket, our goal is to help you achieve your goals and dreams. No matter how large your project, we will assist in
        whatever way we can to help you get it done. Our team of dedicated designers, engineers, and developers have worked on hundreds
        of products across industries such as gaming, retail, marketing, back-end web development, and so much more. We have the
        experience, know how, and ingenuity. So please, sign up today and allow us to assist you.
        <br /><br />
        If you are already a member, then what are you waiting for? log in and lets get to work together!
      </p>
    </section>

    <aside class="sidebar">
      <h2>Partner project of the day</h2>
      <br /><br />
      <img src="/assets/Cafe.jpg">
      <br />

    </aside>

  </main>
</html>
